<html>
<body>
	<h3>Churn Prediction Form</h3>

<div>
<form action="/result" method="POST">
	<label for="Customer_Age">Customer Age </label>
	<input type="text" id="Customer_Age" name="Customer_Age">btw:[12-150]
	<br>
	<label for="Credit_Limit">Credit Limit </label>
	<input type="text" id="Credit_Limit" name="Credit_Limit">btw:[0-999999999]
	<br>
	<label for="Months_Inactive_12_mon">Months Inactive </label>
	<input type="text" id="Months_Inactive_12_mon" name="Months_Inactive_12_mon">btw:[1-99]
	<br>
	<label for="Total_Revolving_Bal">Total Revolving Balance </label>
	<input type="text" id="Total_Revolving_Bal" name="Total_Revolving_Bal">btw:[1-999999999999]
	<br>
	<label for="Contacts_Count_12_mon">Contacts Count </label>
	<input type="text" id="Contacts_Count_12_mon" name="Contacts_Count_12_mon">btw:[1-99]
	<br>
	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>

